* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.matchcard {
  max-width: 600px;
}

.headerLogo{
max-width: 100px;
}

.headerTitle{
color: #3fb8e7;
outline:white;
outline-color: white;
font:
    24px "Impact",
    "Helvetica",
    "Arial",
    sans-serif;
}

.cardHeader{
    color:white
}