{% extends "base.html" %}
{% import "mac_Match.html" as macMatch %}
{%- set myDict = {'scheduled':"bg-secondary",
                    'in-progress':"bg-warning",
                    'full-time':"bg-success"} -%}

{%- set tableDict = {'scheduled':"table-secondary",
                    'in-progress':"table-warning",
                    'full-time':"table-success"} -%}

{% block Title %}Team Details Page{% endblock %}

{% block content %}
<section>
    <div class="d-flex container flex-column align-items-center justify-content-center">
        <div class="card m-1 rounded-3 w-100" style="color: {{- team.secondaryColour }}; background: {{ team.primaryColour}};">
            <div class="card-header">
                        <h5 class="card-title">{{ team.name }}</h5>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <table class="table table-striped table-{{- team.theme }}" >
                        <thead>
                            <tr>
                                <th scope="col">Record</th>
                                <th scope="col">Value</th>
                                <th scope="col">Match</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Biggest Win</td>
                                <td> {{ team.stats["biggestwin"]["Score"]}}</td>
                                <td> {{ team.stats["biggestwin"]["match"]}}</td>
                            </tr>
                            <tr>
                                <td>Biggest Loss</td>
                                <td> {{ team.stats["biggestloss"]["Score"]}}</td>
                                <td> {{ team.stats["biggestloss"]["match"]}}</td>
                            </tr>
                            <tr>
                                <td>Most Tries Scored</td>
                                <td> {{ team.stats["mosttriesscored"]["Score"]}}</td>
                                <td> {{ team.stats["mosttriesscored"]["match"]}}</td>
                            </tr>
                            <tr>
                                <td>Most Tries Conceded</td>
                                <td> {{ team.stats["mosttriesconceded"]["Score"]}}</td>
                                <td> {{ team.stats["mosttriesconceded"]["match"]}}</td>
                            </tr>
                            <tr>
                                <td>highest Score</td>
                                <td> {{ team.stats["highestscore"]["Score"]}}</td>
                                <td> {{ team.stats["highestscore"]["match"]}}</td>
                            </tr>
                            <tr>
                                <td>Highest Conceded</td>
                                <td> {{ team.stats["highestconceded"]["Score"]}}</td>
                                <td> {{ team.stats["highestconceded"]["match"]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mx-5">
    <div class="d-flex container-fluid flex-column align-items-center justify-content-center m-3 py-2">
        <div class="d-flex container flex-column vh-100 scrollable overflow-auto align-items-center">
            {% for match in matchDetails %}
                {{ macMatch.displayMatch(match, myDict, tableDict)}}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}